.pos{
    background-color: yellow;
    align-content: flex-start;
    border-radius: 53%;

}
.container{
    /*max-width: 300px;*/
    /*position: relative;*/
    /*right: 400px;*/

}
#li {
    background-color: yellow;

}



}
.deet{
    background-color: red;
}
#ft{
    background-color:;
}
